<div #mapa class="mapa-container"></div>

<div class="row selector-zoom shadow">
    <div class="col-12">
        <label class="form-label" for="zoom-range">
            Zoom: {{this.zoomLevel | number }}
            Lng,lat: [123,456]
        </label>
        <input type="range" 
            class="form-range" 
            [value]="zoomLevel"
            [min]="zoomLevelMin"
            [max]="zoomLevelMax"
            [step]="zoomPasos"
            #zoomInput
            (input)="zoomChanges(zoomInput.value)"
            id="zoom-range"/>
    </div>

    <div class="col-12">
        <button (click)="zoomOut()" class="btn btn-primary rounded-circle">
            <i class="bi bi-zoom-out"></i>
        </button>
        <button (click)="zoomIn()" class="btn btn-primary rounded-circle float-end">
            <i class="bi bi-zoom-in"></i>
        </button>
    </div>
</div>
